body
{
    background-image: url("image/background.png");
    background-color:rgba(255,255,255,0.7);
}

h1
{
    font-size: calc(0.8rem + .5vw);
    text-align: center;
}

#main
{
    width: calc(100% - 5vw);
    height: 100%;
    margin: auto;
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.7);
}

#homepageMain
{
    width: 60%;
    margin: auto;
    padding: 0.5rem;
    max-width: 572px;
    min-width: 310px;
    border-top: 4px solid #d8dcdc;
    border-right: 4px solid #666;
    border-bottom: 4px solid #333;
    border-left: 4px solid #868888;
    border-radius: 0;
    background: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 30%, white 50%, #666 100%);
}

#heading
{
    border-right: 4px solid #cea82c;
    border-bottom: 10px solid #987c1e;
    border-left: 4px solid #ffed8b;
    background: linear-gradient(-45deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
}

#profile
{
    margin: 0.5rem 0px;
    max-width: 560px;
    min-width: 304px;
    text-align: center;
    border-right: 4px solid #cea82c;
    border-bottom: 10px solid #987c1e;
    border-left: 4px solid #ffed8b;
    background: linear-gradient(-45deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
}

#profile img
{
    display: block;
    width: 50%;
    max-width: 256px;
    min-width: 128px;
    margin: 0px auto;
}

#rotateArea
{
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    perspective: 500px;
    display: flex;
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
}

#animation
{
    width: 20%;
    display: block;
    visibility:visible;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#appealingPoint
{
    z-index: 3;
    position: fixed;
    visibility:hidden;
    background-color: darkslateblue;
}

#appealingPoint p
{
    font-size: calc(0.6rem + .5vw);
}

#animation:active
{
    visibility:hidden;
    animation-play-state: paused;
}

#animation:active + #appealingPoint
{
    visibility:visible;
}

@keyframes rotate
{
    20%
    {
        transform: rotateY(72deg);
    }

    40%
    {
        transform: rotateY(144deg);
    }

    60%
    {
        transform: rotateY(216deg);
    }

    80%
    {
        transform: rotateY(288deg);
    }

    100%
    {
        transform: rotateY(360deg);
    }
}

@media screen and (min-width: 450px)
{
    
    #profile p
    {
        font-size: calc(0.8rem + .5vw);
        margin: 0px;
    }
    
    #goToPortfolio
    {
        margin: 0.5rem 0px;
        max-width: 560px;
        min-width: 304px;
        text-align: center;
        border-right: 4px solid #cea82c;
        border-bottom: 10px solid #987c1e;
        border-left: 4px solid #ffed8b;
        background: linear-gradient(-45deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    }
    
    #goToPortfolio img
    {
        display: block;
        width: 70%;
        height: auto;
        margin: 1rem auto;
    }
    
    #goToPortfolio img:hover
    {
        filter: drop-shadow(5px 5px 10px #1A237E);
        border-radius: 10%;   
    }

    #goToPortfolio p
    {
        font-size: calc(0.8rem + .5vw);
        margin: 0px;
    }

    .portfolio
    {
        display: none;
    }

    #rotateArea p
    {
        display: flex;
        color: white;
        font-size: calc(0.8rem + .5vw);
        margin: 0px;   
    }
}

@media screen and (max-width: 450px) 
{
    #profile p
    {
        font-size: 1rem;
        font-weight: bold;
        margin: 0px;
    }

    .portfolio
    {
        margin: 0.5rem 0px;
        max-width: 560px;
        min-width: 304px;
        text-align: center;
        border-right: 4px solid #cea82c;
        border-bottom: 10px solid #987c1e;
        border-left: 4px solid #ffed8b;
        background: linear-gradient(-45deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    }
    
    .portfolio img
    {
        display: block;
        width: 100%;
        max-width: 512px;
        min-width: 128px;
        margin: 0px auto;
    }

    .portfolio p
    {
        font-size: 1rem;
        font-weight: bold;
        margin: 0px;
    }


    #goToPortfolio
    {
        display: none;
    }

    #rotateArea p
    {
        display: flex;
        color: white;
        font-size: 1rem;
        margin: 0px;   
        font-weight: bold;
        margin: 0px;
    }
  
}