body
{
    background-image: url("../image/background.png");
    background-color:rgba(255,255,255,0.7);
}

#main
{
    width: calc(100% - 10vw);
    height: 100%;
    margin: auto;
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.7);
}

#portfolioMain
{
    width: 60%;
    margin: auto;
    padding: 0.5rem;
    max-width: 572px;
    min-width: 310px;
    border-top: 4px solid #d8dcdc;
    border-right: 4px solid #666;
    border-bottom: 4px solid #333;
    border-left: 4px solid #868888;
    background: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 30%, white 50%, #666 100%);
}

#backToHomeArea
{
    max-width: 400px;
    min-width: 200px;
    padding: 1rem;
    margin: 0px auto;
    text-align:center;
    border-right: 4px solid #cea82c;
    border-bottom: 10px solid #987c1e;
    border-left: 4px solid #ffed8b;
    background: linear-gradient(-45deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
}

#backToHomeArea a
{
    color: white;
    display: block;
    border-top: 4px solid #d8dcdc;
    border-right: 4px solid #666;
    border-bottom: 4px solid #333;
    border-left: 4px solid #868888;
    background-image: linear-gradient(-45deg, #333 0%, #868888 20%, #d8dcdc 30%, white 50%, #666 100%);
    font-size: calc(0.8rem + .5vw);
    text-shadow:2px  2px 10px #777 ,-2px  2px 10px #777 ,2px -2px 10px #777 ,-2px -2px 10px #777;
}

@media screen and (min-width: 450px)
{
    h1
    {
        font-size: calc(0.8rem + .5vw);
        text-align: center;
    }

    h2
    {
        display: none;
    }

    #heading
    {
        border-right: 4px solid #cea82c;
        border-bottom: 10px solid #987c1e;
        border-left: 4px solid #ffed8b;
        background: linear-gradient(-45deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    }

    .profile
    {
        margin: 0.5rem 0px;
        max-width: 560px;
        min-width: 304px;
        text-align: center;
        border-right: 4px solid #cea82c;
        border-bottom: 10px solid #987c1e;
        border-left: 4px solid #ffed8b;
        background: linear-gradient(-45deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    }

    .profile p
    {
        font-size: calc(0.8rem + .5vw);
        margin: 0px;
    }

    .profile img
    {
        display: block;
        width: 100%;
        max-width: 512px;
        min-width: 128px;
        margin: 0px auto;
    }
}


@media screen and (max-width: 450px) 
{
    h1
    {
        display: none;
    }

    h2
    {
        font-size: 1.5rem;
        text-align: center;
    }

    #heading
    {
        display: none;
    }

    .profile
    {
        display: none;
    }
}
